githelp
calcurse/.calcurse/daemon.log
calcurse/.calcurse/todo
calcurse/.calcurse/apts
calcurse/.calcurse/.daemon.pid
mpdscribble/.mpdscribble/mpdscribble.log
mpd/.config/mpd/log
mpd/.config/mpd/mpd.log
mpd/.config/mpd/database
mpd/.config/mpd/playlists
mpd/.config/mpd/state
mpd/.config/mpd/pid
mpdscribble/
fonts
scripts/scripts/gawr.sh
scripts/scripts/theNaziTree.sh
scripts/scripts/packagealert.sh
scripts/scripts/lion.sh
scripts/scripts/automaton.sh
scripts/scripts/testsize.sh
scripts/scripts/SCRIPTORDERTEST.sh
backgrounds/bgs/testingbg/
